@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #cee5ec;
    --second-color: #f3bd98;
    --third-color: #cee5ec;
    --text-color: #535456;
}


* {
    font-family: Kalam !important;
}
h1,h2,h3,h4.h5,h6{
    font-family: Raleway,sans-serif;
}
p,
span,
a {
    font-family: 'Kanit', sans-serif;
}
input:focus, textarea:focus, select:focus{
    outline: none;
    border-bottom:2px solid #cee5ec

    ;
}
/* active-Category */
.active-Category{
    background-color: var(--third-color) !important;
}
/* exclusive-cart */
.exclusive-cart:hover .exclusive-btn{
    display: block;
}

/* container */
.container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1000px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (max-width:768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width:640px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:500px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width:350px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}